@model IEnumerable<PizzaShop.Repository.Data.Permission>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Permission Page";
    var RoleName = TempData["RoleName"];
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="content w-100 ml-2 mt-2 p-2 mr-0" id="content">
    <div class="first-part d-flex justify-content-between pr-2">
        <h2>Permissions</h2>
        <a href="/Role/Roleselect" class="btn btn-nonprimary imp" id="Back"><i class="fa fa-angle-left m-1"
                aria-hidden="true"></i>Back</a>
    </div>
    <form class="permission-cls d-flex flex-column pl-2 mt-2" asp-action="Permission" asp-controller="Role" method="post">
        <div class="form-floating m-3 w-25">
            <input type="text" disabled class="form-control w-100 border border-primary" id="Rolename" placeholder="Role Name"
                value="@RoleName">
            <label for="Rolename">Role</label>
        </div>
        <div class="permission-content d-flex p-2">
            <div class="col-12 ">
                <div class="table-responsive  pt-2 mt-4 me-5 ms-3 pn-bg">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" width="20px"><i class="fa-regular fa-square-minus"></i></th>
                                <th scope="col" width="800px">Permission</th>
                                <th scope="col">Can View</th>
                                <th scope="col">Can Add/Edit</th>
                                <th scope="col">Can Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i=0;}
                            @foreach (var permission in Model)
                            {
                                <input type="hidden" value="@permission.PermissionId" name="permissions[@i].PermissionId"/>
                                <input type="hidden" value="@permission.PermissionfieldId" name="permissions[@i].PermissionfieldId">
                                <input type ="hidden" value="@permission.RoleId" name = "permissions[@i].RoleId">
                                <input type="hidden" value="@permission.Createdat" name="permissions[@i].Createdat">                              
                                <input type="hidden" value="@permission.Createdby" name="permissions[@i].Createdby">                              
                                <input type="hidden" value="false" name="permissions[@i].Isdeleted">
                                <tr>
                                    <td>
                                        @{
                                            if(!permission.Canadd && !permission.Candelete && !permission.Canview){
                                                <input class="form-check-input mainCheckbox" type="checkbox">
                                            }else{
                                                <input class="form-check-input mainCheckbox" type="checkbox" checked>
                                            }
                                        }
                                        
                                    </td>
                                    <td>@permission.Permissionfield.Permissionfieldname</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input toggle-checkbox" asp-for="@permission.Canview" name="permissions[@i].Canview" type="checkbox"
                                                role="switch" id="@permission.PermissionId" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input toggle-checkbox" asp-for="@permission.Canadd" name="permissions[@i].Canadd" type="checkbox"
                                                role="switch" id="@permission.PermissionId" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input toggle-checkbox" asp-for="@permission.Candelete" name="permissions[@i].Candelete" type="checkbox"
                                                role="switch" id="@permission.PermissionId" />
                                        </div>
                                    </td>
                                </tr>
                              i++;
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="col-auto d-flex justify-content-end">
                <button class="btn btn-nonprimary imp m-2 col-1" type="submit">
                    Save
                </button>
                <a href="/Role/Roleselect" class="btn btn-nonprimary imp m-2 col-1">
                    Cancle
                </a>
            </div>
        </div>
    </form>
</div>
<script>

        function CheckboxUpdate(){
            $(".mainCheckbox").each(function() {
                if(!this.checked){
                    $(this).closest('tr').find(".toggle-checkbox").prop("checked",false);
                }
                $(this).closest('tr').find(".toggle-checkbox").prop('disabled', !this.checked);
            })
        }
        $(document).ready(() => {
            CheckboxUpdate();
            $(".mainCheckbox").change(function() {
                if(!this.checked){
                    $(this).closest('tr').find(".toggle-checkbox").prop("checked",false);
                }
                $(this).closest('tr').find(".toggle-checkbox").prop('disabled', !this.checked);
            })
        })
</script>