@model PizzaShop.Repository.ViewModels.Userlistmodel
@{
    var totalpage = (int) Math.Ceiling(((double)Model.totalUsers/ (double) Model.count));
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                         <table class="table">
                       <thead>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                @foreach(var user in Model.Userslist){
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@user.Contactnumber</td>
                            <td>@user.Role.Name</td>
                            <td>
                                @{
                                    if(user.Status == true){
                                         <span class="badge rounded-pill bg-success w-50">Active</span>
                                    }else{
                                         <span class="badge rounded-pill bg-danger w-50">In-Active</span>
                                    }
                                }
                               
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="User" asp-route-id = "@user.UserId">
                                    <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                </a>                              
                                  <i class="fa fa-trash deleteicon" data-userid="@user.UserId"  aria-hidden="true" data-bs-toggle="modal"  data-bs-target="#DeleteConf"  data-bs-toggle="modal" ></i>                              
                            </td>
                        </tr>
                }
                       
                    </table>
                    <div class="modal fade" id="DeleteConf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="DeleteConfLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                              <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="warning" class="warning-img">
                              <p>Are you sure you want to delete this user?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                
                              <button type="button" class="btn btn-nonsecondary imp" data-bs-dismiss="modal" id="delete-btn">Yes</button>
                              <button type="button" class="btn btn-nonprimary imp" data-bs-dismiss="modal">No</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="d-flex justify-content-end">
                        <div class="dropdown d-flex justify-content-center align-items-center w-25">
                            <p class="w-50 text-center m-2">Users per page</p>
                            <select name="userCount"  asp-for="@Model.count" id="userCount" class="form-control w-25">
                                <option value="2" selected>2</option>
                                <option value="1">1</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center">
                        <p class="m-2">Showing 1..5 of 14</p>
                          <div class="paging d-flex justify-content-around align-items-center">
                              <button class="btn" id="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                              <button class="btn" id="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                          </div>
                        </div>
                    </div>
                    <script>
                       $(document).ready(() => {                       
                            if(@totalpage == @Model.pageno){
                                $("#next").prop("disabled",true);
                            }
                            if(@Model.pageno == 1){
                                $("#prev").prop("disabled",true);
                            }
                            $("#userCount").change(() => {                                                                                       
                                loadUsers(1,$("#searchin").val());
                            })                           

                            $("#next").on("click",() => {                               
                                loadUsers(@Model.pageno+1,$("#searchin").val());
                            });

                            $("#prev").on("click",() =>{                              
                                loadUsers(@Model.pageno-1,$("#searchin").val());
                            });

                            var deleteiconid = null;

                            $(".deleteicon").click((e) => {
                            
                                deleteiconid = e.target.dataset.userid;  
                                console.log(e.target);                            
                                console.log(deleteiconid);
                            })

                            $("#delete-btn").click((e) => {
                                e.preventDefault();
                                
                                $.ajax({
                                    url : "/User/Delete",
                                    data : {
                                        id : deleteiconid
                                    },
                                    success : (response) => {
                                        if(response.success){
                                            alert(response.message);
                                            window.location="/User/Userslist";
                                        }else{
                                            alert(response.message);
                                        }
                                    },
                                    error : (error) => {
                                        alert("There is an error");
                                    }
                                })
                            })
                            
                       })
                    </script>
                    
                