@model PizzaShop.Repository.ViewModels.Items
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
@{
    var totalpage = (int)Math.Ceiling(((double)Model.totalitems / (double)Model.count));
}


<table class="table table-borderless table-responsive ">
    <thead>
        <th class="">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="" id="p1" />
                <label for="p1" class="header-per form-check-label">
                    <h3 class="header-per">Name</h3>
                </label>
            </div>
        </th>
        <th class="text-center">ItemType</th>
        <th class="text-center">Rate</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Available</th>
        <th class="text-center">Action</th>
    </thead>
    @{
        var i = 0;
    }
    @foreach (var item in Model.items)
    {
        <tr data-itemid="@item.ItemId" class="Itemstr">
            <td>
                <div class="form-check  mb-3">
                    <input type="checkbox" class="form-check-input" value="" id="p2" />
                    <img src="~/images/dining-menu.png" alt="">
                    <label for="p2" class=" form-check-label">@item.Name</label>
                </div>
            </td>
            <td class="text-center">
                @if (item.Itemtype == "nonveg")
                {
                    <img src="~/images/icons/non-veg-icon.svg" class="img-vn" alt="">
                }
                else
                {
                    <img src="~/images/icons/veg-icon.svg" class="img-vn" alt="">
                }
            </td>
            <td class="text-center">@item.Rate</td>
            <td class="text-center">@item.Quantity</td>
            <td class="form-check form-switch d-flex justify-content-center p-0 mb-3">
                <input class="form-check-input" asp-for="@item.Isavailable" type="checkbox" id="@item.ItemId"
                    name="item[@i].Isavailable">
            </td>

            <td class="text-center">
                <i class="fa fa-pencil Edit-Item m-1" id="Edit-Item" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"
                    data-bs-toggle="modal" data-bs-target="#delete-conf"></i>
            </td>
        </tr>
        i++;
    }
</table>

<div class="d-flex justify-content-end">
    <div class="dropdown d-flex justify-content-center align-items-center w-25">
        <p class="w-50 text-center m-2">Items per page</p>
        <select name="itemCount" id="itemCount" asp-for="@Model.count" class="form-control w-25">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>
    <div class="d-flex align-items-center">
        <p class="m-2">Showing 1..5 of 14</p>
        <div class="paging d-flex justify-content-around align-items-center">
            <button class="btn" id="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <button class="btn" id="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        if (@totalpage == @Model.pageno) {
            $("#next").prop("disabled", true);
        }
        if (@Model.pageno == 1) {
            $("#prev").prop("disabled", true);
        }

        $("#itemCount").change(() => {
            loadItems(1, $("#search-items").val());
        });

        $("#next").on("click", () => {

            loadItems(@Model.pageno+1, $("#search-items").val());
        });

        $("#prev").on("click", () => {
            loadItems(@Model.pageno-1, $("#search-items").val());
        })

        $(".Edit-Item").on("click", function (e) {
            e.preventDefault();
            var itemid = e.target.closest(".Itemstr").dataset.itemid;

            $.ajax({
                url: "/MenuModule/EditItem",
                type: "GET",
                data: {
                    itemid: itemid
                },
                success: (response) => {
                   
                    if (response.success) {
                        
                         $("#ItemsCategoryEdit").val(response.categoryId);
                         $("#ItemNameEdit").val(response.name);
                         $("#ItemTypeEdit").val(response.itemtype);
                         $("#QuantityEdit").val(response.quantity);
                         $("#UnitEdit").val(response.unitId);
                         $("#TaxPercentageEdit").val(response.taxpercentage);
                         $("#ShortCodeEdit").val(response.shortcode);
                         $("#ItemDescriptionEdit").val(response.description);
                         var imageurl = response.imageurl != null ? `/${response.imageurl}` : "/images/Default_pfp.svg.png";
                        $("#itemid").val(itemid);
                         @* $("#Item-Image-Edit").val(imageurl); *@
                         $("#Item-Image-Edit-url").val(response.imageurl);
                         $("#ShortCodeEdit").val(response.shortcode)
                         $("#ItemImageShownEdit").attr("src",imageurl);
                         if(response.isavailable){
                            $("#IsavailableEdit").prop("checked",true);
                         }
                         if(response.defaulttax){
                            $("#DefaultTaxEdit").prop("checked",true); 
                         }
                         $("#RateEdit").val(response.rate);
                        $("#EditItemModal").modal("show");
                    }
                }
            })
        })

    })

</script>
